
</main><!-- End #main -->

<footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright-box">
            <p class="copyright">&copy; Copyright <strong>Acme Therapeutics</strong>. All Rights Reserved</p>
            <div class="credits">
              Designed by <a href="https://www.linkedin.com/in/swetang-krishna-431602197">Swetang Krishna</a> and <a href="https://www.linkedin.com/in/aarya-sharma-3095ba1ba/">Aarya Sharma</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/typed.js/typed.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>
  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>
  <script type=" https://smtpjs.com/v3/smtp.js "></script>
  <script>

  </script>
</body>
</html>