
{% extends "base.html"%}

{%block content%}
  <!-- ======= Hero Section ======= -->
  <div id="hero" class="hero route bg-image" style="background-image: url(static/assets/img/hero-bg.jpg)">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="hero-title mb-4">Acme Therapeutics (I) Pvt. Ltd</h1>
          <p class="hero-subtitle"><span class="typed" data-typed-items="Health, Life, Care, Love"></span></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div><!-- End Hero Section -->
  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about-mf sect-pt4 route">
      <div class="container">
          <h5 class="title-left">
            About Us
            </h5>
            <hr>
                    <p class="lead">
                      Acme Therapeutics (I) Pvt. Ltd was Established in 2001 as a result of the dedicated efforts put in by a team of committed professionals with strong determination to serve Humanity. We are a leading pharmaceutical marketing company including veterinary, We are involved in the marketing & export of pharmaceuticals and veterinary Medicines along with feed suppliments. 
                    </p>
                    <p class="lead">
                      Acme Therapeutics (I) Pvt. Ltd are marketing a wide range of Pharmaceutical and veterinary products including Tablets, Injection, Capsules, Syrup, Bolus, feed supplements, I.V. FLUIDS. These products are procured from the certified and authentic manufactures of the market, who hold vast experience in this domain. Most of our manufactures are WHO-GMP certified units. 
                    </p>
                    <p class="lead">
                      We strive to become a knowledge driven Pharmaceutical company with highest level of operational excellence in all spheres of life. Our core endeavors are to add value to customers and maximize the strength of customer relationships. Acme Therapeutics (I) Pvt. Ltd provides the effective solutions for your pharmaceutical needs. We embrace and apply the requirements of Good Manufacturing and Good Distribution Practice. Within industry, our consultants provide Quality Assurance and Regulatory Products to global and small pharmaceutical manufacturers & transportation companies. 
                    </p>
                    </div>
      <section id="team" class="Products-mf pt-5 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Our Team
              </h3>
              <p class="subtitle-a">      
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><img src="static/assets/img/gopal.png" ></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Gopal Krishna</h2>
                <h4>Director</h4>
                <p class="s-description text-center">
                  Panchkula, HARYANA
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><img src="static/assets/img/sanjay.png" ></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Sanjay Kumar</h2>
                <h4>Director</h4>
                <p class="s-description text-center">
                  Patna, BIHAR
                </p>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><img src="static/assets/img/banshidhar.png" ></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Banshidhar Kanhaiya Lal</h2>
                <h4>Director</h4>
                <p class="s-description text-center">
                  Mumbai, MAHARASHTRA
                </p>
              </div>
            </div>
          </div>
          
      <!--employees of the year-->
    
    
          <div class="col-md-3">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><img src="static/assets/img/vet1.1.png" ></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Employee of the year</h2>
                <h6>Veterinary Division</h6>
                <p class="s-description text-center">
                  Raj Kumar Verma, BIHARSHARIF POOL
                </p>
                <p class="s-description text-center">
                  2021-22
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><img src="static/assets/img/vet2.1.png"></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Employee of the year</h2>
                <h6>Veterinary Division</h6>
                <p class="s-description text-center">
                  Ravi Ranjan, BIHARSHARIF POOL
                </p>
                <p class="s-description text-center">
                  2021-22
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><img src="static/assets/img/pharma1.1.png"></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Employee of the year</h2>
                <h6>Pharma Division</h6>
                <p class="s-description text-center">
                  Gyan Prakash Sharma, GAYA POOL
                </p>
                <p class="s-description text-center">
                  2021-22
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><img src="static/assets/img/pharma2.1.png"></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Employee of the year</h2>
                <h6>Pharma Division</h6>
                <p class="s-description text-center">
                  Rajiv Ranjan Sharma, GAYA POOL 
                </p>
                <p class="s-description text-center">
                  2021-22
                </p>
              </div>
            </div>
          </div>
          </div>
          </div>
          </section>
          
        <!-- End Products Section -->
    <!-- ======= Counter Section ======= -->
    <div class="section-counter paralax-mf bg-image" style="background-image: url(static/assets/img/counters-bg.jpeg)">
      <div class="overlay-mf"></div>
      <div class="container position-relative">
        <div class="row">
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="bi bi-check"></i></span>
              </div>
              <div class="counter-num">
                <span class="counter-text">SERVICE</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="bi bi-journal-richtext"></i></span>
              </div>
              <div class="counter-num">
                <span class="counter-text">INTEGRITY</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="bi bi-people"></i></span>
              </div>
              <div class="counter-num">
                <span class="counter-text">QUALITY</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="bi bi-award"></i></span>
              </div>
              <div class="counter-num">
     
                <span class="counter-text">CUSTOMER SATISFACTION</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Counter Section -->
    <!-- ======= Gallery Section ======= -->
    <section id="work" class="Gallery-mf sect-pt4 route">
    	 <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Gallery
              </h3>
              <p class="subtitle-a">
                Our Products
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/50.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/50.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Ac Z Gold Cap</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">10 Jun. 2022</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">          
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/acz1.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/acz1.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Ac Z Bolus VET</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary</span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">         
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/lb.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/lb.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">L.B. VET PLUS Liquid</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary</span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/vit.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/vit.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">VIT PLUS</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Pharma</span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">  
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/xon.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/xon.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Xonexef Tazo Inj</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Pharma</span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/cef.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/cef.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Cefzone Inj</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Pharma</span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Gallery Section -->
    <!-- ======= Testimonials Section ======= -->
    <div class="testimonials paralax-mf bg-image" style="background-image: url(static/assets/img/overlay-bg.jpg)">
      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="testimonial-box">
                    <div class="author-test">
                      <span class="author">Director's Message</span>
                    </div>
                    <div class="content-test">
                      <p class="description lead">
                        I officially welcome you to the website of Acme Therapeutics (I) Pvt. Ltd. I am confident that after going through the website you will understand Acme Therapeutics (I) Pvt. Ltd in a better, deeper and elaborate way.

At Acme Therapeutics (I) Pvt. Ltd's, our efforts and concentration remain one point focused i.e. we have to give Best Quality Products at Most Affordable Rates.

I feel proud in telling you that Our Company is professionally managed & we have a full fledged technical team of Technocrats who are fully equipped to handle the latest, sophisticated, fully automatic machinery.

I am very open for any suggestion/criticism because these features will give scope for improvement & we shall strive for betterment & will try to go near perfection. This is possible only with your active, unshaken, solid, continuous support, help and guidance.
<hr>
With Best Wishes from
Directors
Gopal Krishna, Sanjay Kumar and Banshidhar Kanhaiya Lal.
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->
                <div class="swiper-slide">
                  <div class="testimonial-box">
                    <div class="author-test">
                      <span class="author">Mission</span>
                    </div>
                    <div class="content-test">
                      <p class="description lead">
                        To become Asia's leading generic Pharma company and one among the top 11 in the world. We at Acme Therapeutics (I) Pvt. Ltd. are focused on creating business avenues through trading of pharmaceutical products and making available the quality products to our customers that generate sustainable revenues and growth of the company.

Our confidence to achieve our goal is inspired by strength of our people and our infrastructure, which is committed to deliver quality products by practicing and adhering to current GMP standards.To make APL as a Learning organization towards sustained business performance through progressive talent management. 
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->
              </div>
              <div class="swiper-pagination"></div>
            </div>
            <!-- <div id="testimonial-mf" class="owl-carousel owl-theme">
        </div> -->
          </div>
        </div>
      </div>
    </div><!-- End Testimonials Section -->
    
  {%endblock%}
  <!-- ======= Footer ======= -->
  
