
  <!-- ======= Hero Section ======= -->
  <div id="hero" class="hero route bg-image" style="background-image: url(assets/img/hero-bg.jpg)">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="hero-title mb-4">Acme Therapeutics (I) Pvt. Ltd</h1>
          <p class="hero-subtitle"><span class="typed" data-typed-items="Health, Life, Care, Love"></span></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div><!-- End Hero Section -->
  <main id="main">

    <section id="work" class="Gallery-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                MYCAINE GEL
              </h3>
              <p class="subtitle-a">
                A Pharma Product
              </p>
                <p><h3 align="center" style ="color:grey;">Mycaine Gel 200ml Anaesthic Antacid Gel</h3></p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        
        </div>
        
          <div class="container">
            
              <div class="row">
            <img src="assets/img/products/11.jpeg" width="100" height="400">
            <p align="right" style ="color:grey;">Prescription Required </p>
          <div class="text">
                <p>
<h5 align="center">MANUFACTURER</h5>
<p align="center" style ="color:grey;"> <b>Sri Ram Healthcare Pvt. Ltd.</b></p>
<br>

<h5 align="center"> SALT COMPOSITION</h5>
<p align="center" style ="color:grey;">
  <b>
Oxetacaine (10mg/5ml) + Aluminium Hydroxide (0.291gm/5ml) + Milk Of Magnesia (98mg/5ml)
</b></p>

<br>

<h5 align="center">STORAGE</h5>
<p align="center" style ="color:grey;"><b>Store below 30°C</b>
</p>
</div>
         
          </div>
            </div>
            
            

         


          <div class="container">
          <div class="row">
            <br>
            <br>
<div class="line-mf"></div>

<h4 align="center">PRODUCT INTRODUCTION</h4>
<p align="center">
Mycaine Gel Mint Sugar Free is a prescription medicine that is used in the treatment of acidity, stomach ulcer, and heartburn. It helps in relieving the symptoms of acidity and ulcers such as stomach pain, heartburn, or irritation. It also neutralizes excessive acid in the stomach.
</p>
<p align="center">
Mycaine Gel Mint Sugar Free is taken without food in a dose and duration as advised by the doctor. The dose you are given will depend on your condition and how you respond to the medicine. You should keep taking this medicine for as long as your doctor recommends. If you stop treatment too early your symptoms may come back and your condition may worsen. Let your healthcare team know about all other medications you are taking as some may affect, or be affected by this medicine. Do not take it for more than the recommended duration as long-term administration may have harmful effects on the health.
</p>
<p align="center">
The most common side effects are diarrhea, constipation, and allergic reaction. Most of these are temporary and usually resolve with time. Contact your doctor straight away if you are at all concerned about any of these side effects. To overcome constipation, you should add fiber-rich foods to your diet and stay hydrated. Lifestyle modifications like having a fiber-rich diet, increase fluid intake and regular exercise can help you to get better results.
</p>
<p align="center">
Before taking this medicine, you should tell your doctor if you are pregnant, planning pregnancy, or breastfeeding. You should also tell your doctor if you have any kidney or liver diseases so that your doctor can prescribe a suitable dose for you.
</p>

<div class="line-mf"></div>
<div class="swiper-pagination"></div>
<br>
<br>
<h4 align="center">USES OF MYCAINE GEL</h4>
<h6 align="center">
<p>• Treatment of Acidity</p>
<p>• Treatment of Heartburn</p>
<p>• Treatment of Stomach ulcers</p>
</h6>

<h6>
In Treatment of Acidity
</h6>
<p>
Mycaine Gel Mint Sugar Free relieves excessive acidity in your stomach which prevents heartburn and indigestion. Usually, it is used along with other medicines for management of your condition.</p>
<p>
Continue taking it for as long as the doctor may advise you to. You need to take this medicine regularly to get the most out of it. Take a fiber-rich diet, avoid oily or spicy food and drink plenty of fluids while taking it to make sure you stay hydrated.</p>
<h6>
In Treatment of Heartburn
</h6>
<p>
Heartburn is a burning feeling in your chest caused by stomach acids traveling back up towards your throat and mouth (acid reflux). Mycaine Gel Mint Sugar Free improves the movement of food in the stomach and helps prevent heartburn.</p>
<p>
You should take it exactly as it is prescribed or as it says on the label for it to be effective. Some simple lifestyle changes can help stop or reduce heartburn. Think about what foods trigger heartburn and try to avoid them; eat smaller, more frequent meals; try to lose weight if you are overweight, and try to find ways to relax. Do not eat within 3 to 4 hours of going to bed.</p>
<h6>
In Treatment of Stomach ulcers</h6>
<p>
Stomach ulcers are painful sores that develop in the inner lining of the stomach or gut (intestine). Mycaine Gel Mint Sugar Free reduces the amount of acid your stomach makes which prevents further damage to the ulcer as it heals naturally. You may be given other medicines along with this medicine depending on what caused the ulcer. You need to keep taking Mycaine Gel Mint Sugar Free as prescribed by the doctor for it to be effective, even if the symptoms seem to disappear.
</p>


<div class="line-mf"></div>
<div class="swiper-pagination"></div>
<br>
<h4 align="center">
SIDE EFFECTS OF MYCAINE ORAL GEL</h4>
<p align="center">
Most side effects do not require any medical attention and disappear as your body adjusts to the medicine. Consult your doctor if they persist or if you’re worried about them.</p>
<h6 align="center">
Common side effects of Mycaine
</h6>

<p align="center">• Constipation</p>
<p align="center">• Diarrhea</p>
<p align="center">• Allergic reaction</p>

<br>
<br>
<br>
<h4 align="center">HOW TO USE MYCAINE ORAL GEL</h4>
<p align="center">
Take this medicine in the dose and duration as advised by your doctor. Check the label for directions before use. Mycaine Gel Mint Sugar Free is to be taken empty stomach.
</p>
<br>
<br>
<br>
<br>
<h4 align="center">

HOW MYCAINE ORAL GEL WORKS</h4>
<p align="center">
Mycaine Gel Mint Sugar Free is a combination of three medicines: Oxetacaine, Aluminium Hydroxide, and Milk Of Magnesia. Oxetacaine is a local anesthetic that provides faster relief from pain due to ulcers or acidic injury in the stomach. Aluminium Hydroxide and Milk Of Magnesia are antacids that neutralize the excess acid in stomach.
</p>

<div class="line-mf"></div>
<div class="swiper-pagination"></div>
<br>

<br>

</div>
</div>
<br>
    </section><!-- End Gallery Section -->
   
   <div class="testimonials paralax-mf bg-image" style="background-image: url(assets/img/overlay-bg.jpg)">
      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="testimonial-box">
                    <div class="author-test">
                      <span class="author">Acme</span>
                    </div>
                    <div class="content-test">
                      <p class="description lead">
                          We Provide Quality medicines at affordable prices. Proud to complete <b>22</b> years in Healthcare with Quality Medicines.
<hr> With Best Wishes from
Directors
Gopal Krishna, Sanjay Kumar and Banshidhar Kanhaiya Lal. 
                      </p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="testimonial-box">
                    <div class="author-test">
                      <span class="author">ACME</span>
                    </div>
                    <div class="content-test">
                      <p class="description lead">
                        Quality is our Culture.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
   