
{% extends "base.html"%}

{%block content%}
<div id="hero" class="hero route bg-image" style="background-image: url(static/assets/img/hero-bg.jpg)">
<div class="overlay-itro"></div>
<div class="hero-content display-table">
<div class="table-cell">
<div class="container">
<h1 class="hero-title mb-4">Acme Therapeutics (I) Pvt. Ltd</h1>
<p class="hero-subtitle"><span class="typed" data-typed-items="Health, Life, Care, Love"></span></p>
</div></div></div></div>
<main id="main">
<section id="work" class="Gallery-mf sect-pt4 route"><div class="container"><div class="row">
<div class="col-sm-12"><div class="title-box text-center"><h3 class="title-a">Our Products</h3>
<p class="subtitle-a">Pharma Division</p>
<div class="line-mf"></div>
</div>
</div>
</div>
<div class="row">
    <div class="col-md-4">                
                <div class="work-box"><a href="static/assets/img/products/3.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
<div class="work-img">
    <img src="static/assets/img/products/3.jpeg" alt="" class="img-fluid">
    </div></a>
<div class="work-content">
    <div class="row">
        <div class="col-sm-8">
            <h2 class="w-title">AC-TZ</h2>	
            <h2 class="w-title">281.25mg/1.125gm</h2>
            <div class="w-more">
                
                <span class="w-ctegory">Pharma</span> / <span class="w-date">14 Mar. 2001</span></div>
                </div>
<div class="col-sm-4">
    <div class="w-like"></div></div></div></div></div>
    </div>
    
     <div class="col-md-4">				
    <div class="work-box"><a href="static/assets/img/products/5.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
<div class="work-img">
    <img src="static/assets/img/products/5.jpeg" alt="" class="img-fluid">
    </div></a>
<div class="work-content">
    <div class="row"><div class="col-sm-8">
        <h2 class="w-title">Cefzone-T</h2>
        <h2 class="w-title">1.125gm</h2>
        <div class="w-more"><span class="w-ctegory">Pharma</span> / <span class="w-date">14 Mar. 2001</span>
</div></div><div class="col-sm-4"><div class="w-like"></div></div></div></div></div>
</div>

    <div class="col-md-4">				
    <div class="work-box">
        <a href="static/assets/img/products/4.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
<div class="work-img">
    <img src="static/assets/img/products/4.jpeg" alt="" class="img-fluid">
    </div></a>
<div class="work-content">
    <div class="row"><div class="col-sm-8">
        <h2 class="w-title">END PLUS Suspension</h2>  
         <h2 class="w-title">10ml</h2> 
        <div class="w-more"><span class="w-ctegory">Pharma</span> / <span class="w-date">14 Mar. 2001</span></div></div>
<div class="col-sm-4">
    <div class="w-like"></div></div></div></div></div>
    </div>
    
<div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/11.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/11.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <a href = "mycainegel.html"><h2 class="w-title">Mycaine Gel</h2></a>
                    <h2 class="w-title">200ml</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Pharma</span> /<a href = "mycainegel.html"> <span class="w-date">read more </span></a>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
              <div class="col-md-4">
<div class="work-box">
    <a href="static/assets/img/products/2.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
<div class="work-img"><img src="static/assets/img/products/2.jpeg" alt="" class="img-fluid"></div></a>
<div class="work-content">
    <div class="row"><div class="col-sm-8">
        <h2 class="w-title">VIT Plus Syrup</h2>            
        <h2 class="w-title">225ml </h2><div class="w-more">
            <span class="w-ctegory">Pharma</span> / 
            <span class="w-date">14 Mar. 2001</span></div>
            </div>
            <div class="col-sm-4">
                <div class="w-like"></div></div></div></div></div>
                </div>
                
                <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/18.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/18.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Xonexef Inj</h2>
                    <h2 class="w-title">1gm</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Pharma</span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like"> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

<div class="col-md-4">
<div class="work-box">
    <a href="static/assets/img/products/10.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
<div class="work-img"><img src="static/assets/img/products/10.jpeg" alt="" class="img-fluid"></div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Xonexef-O Tablets</h2>
                    <h2 class="w-title">10x10 tablets</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Pharma</span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

    <div class="col-md-4">
        <div class="work-box">
<a href="static/assets/img/products/12.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
<div class="work-img">
    <img src="static/assets/img/products/12.jpeg" alt="" class="img-fluid">
    </div>
    </a>
<div class="work-content">
    <div class="row"><div class="col-sm-8">
        <h2 class="w-title">Xonexef-S Inj</h2>
        <h2 class="w-title">375mg/1.5gm</h2>
<div class="w-more"><span class="w-ctegory">Pharma </span> / <span class="w-date">14 Mar. 2001</span>
</div>
</div><div class="col-sm-4">
    <div class="w-like"></div></div></div></div></div></div>
    
<div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/16.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/16.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Xonexef-Tazo</h2>
                    <h2 class="w-title">1.125gm/281.25mg</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Pharma</span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like"> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>    

                
    
    
   


<div class="col-md-4">
    <div class="work-box">
        <a href="static/assets/img/products/6.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
            <div class="work-img"><img src="static/assets/img/products/6.jpeg" alt="" class="img-fluid"></div>
</a>
<div class="work-content">
    <div class="row"><div class="col-sm-8">
        <h2 class="w-title">Zine-M Tablets</h2>		
        <div class="w-more"><span class="w-ctegory">Pharma</span> / <span class="w-date">14 Mar. 2001</span></div>
</div><div class="col-sm-4">
    <div class="w-like"></div></div></div></div></div>
    </div>
    
    
    <div class="col-md-4">			
    <div class="work-box"><a href="static/assets/img/products/7.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
<div class="work-img">
    <img src="static/assets/img/products/7.jpeg" alt="" class="img-fluid">
    </div></a>						
    <div class="work-content"><div class="row">
        <div class="col-sm-8"><h2 class="w-title">Zotra-OZ Tablets</h2>
<div class="w-more">
    <span class="w-ctegory">Pharma</span> / <span class="w-date">14 Mar. 2001</span>
</div></div><div class="col-sm-4"><div class="w-like"></div></div></div></div></div>
</div>

<div class="col-md-4">
<div class="work-box">
    <a href="static/assets/img/products/9.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
<div class="work-img">
    <img src="static/assets/img/products/9.jpeg" alt="" class="img-fluid">
    </div></a>						
    <div class="work-content">
        <div class="row">
            <div class="col-sm-8">
                <h2 class="w-title">Zynky Syrup 60ml</h2>
<div class="w-more">
    <span class="w-ctegory">Pharma</span> / <span class="w-date">14 Mar. 2001</span></div></div>
<div class="col-sm-4"><div class="w-like"></div></div></div></div></div></div>

          
          
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/17.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/17.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Zotra-M 30ml</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Pharma</span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like"> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
<div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Our Products
              </h3>
              <p class="subtitle-a">
                Veterinary Division
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/veterinary/15.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/15.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">ACM</h2>
                    <h2 class="w-title">30ml/100ml</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/veterinary/3.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/3.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Ac-Z Bolus</h2>
                    <h2 class="w-title">Bolus</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/veterinary/50.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/50.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Ac-Z Gold Bolus</h2>
                    <h2 class="w-title">Bolus</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">10 Jun. 2022</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
           <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/veterinary/57.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/57.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Ac-Z Powder</h2>
                    <h2 class="w-title">100gm</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/veterinary/60.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/60.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Ac-Z Powder</h2>
                    <h2 class="w-title">12x1Kg</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/veterinary/11.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/11.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Aczyme Strong</h2>
                    <h2 class="w-title">15gm/100gm</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
             <a href="static/assets/img/products/veterinary/34.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/34.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">AHV Herbal Spray</h2>
                    <h2 class="w-title">100ml</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/veterinary/61.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/61.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Calme Gel</h2>
                    <h2 class="w-title">300gm</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/veterinary/59.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/59.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Calme-Gold Liquid</h2>
                    <h2 class="w-title">1L</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/veterinary/47.1.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/47.1.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Calme Gold Liquid</h2>
                    <h2 class="w-title">5L</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/veterinary/58.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/58.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Calme Powder </h2>
                    <h2 class="w-title">1Kg/2.5Kg/10Kg/20Kg</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/veterinary/8.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/8.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Elmox </h2>
                    <h2 class="w-title">3gm/4.5gm </h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/veterinary/24.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/24.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">END Bolus</h2>
                    <h2 class="w-title">20x2 tablets</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/veterinary/12.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/12.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">End-F Bolus</h2>
                    <h2 class="w-title">1500mg</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/veterinary/19.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/19.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Endzide-DS </h2>
                    <h2 class="w-title">100ml</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
              <div class="col-md-4"><div class="work-box">
              <a href="static/assets/img/products/veterinary/13.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/13.jpeg" alt="" class="img-fluid"></div></a>
              <div class="work-content"><div class="row"><div class="col-sm-8">
                    <h2 class="w-title">Endzide-L </h2>
                    <h2 class="w-title">100ml/BOLUS 1.5gm</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div></div>
                  <div class="col-sm-4">
                    <div class="w-like"></div></div></div></div></div></div>
                    <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/veterinary/9.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/9.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Fenamol </h2>
                    <h2 class="w-title">30ml/100ml</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
             <a href="static/assets/img/products/veterinary/62.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/62.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Floxamac L-Powder</h2>
                    <h2 class="w-title">200gm</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <div class="col-md-4">
            <div class="work-box">
             <a href="static/assets/img/products/veterinary/33.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/33.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Happy Bath+</h2>
                    <h2 class="w-title">250ml</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
                <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/veterinary/20.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/20.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">I-Tin LA </h2>
                    <h2 class="w-title">50ml</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>  
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/veterinary/26.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/26.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">JER Clear</h2>
                    <h2 class="w-title">500ml/1L</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/veterinary/52.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/52.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">LB VET Plus</h2>
                    <h2 class="w-title">200ml/500ml</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/veterinary/49.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/49.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">LB VET Plus</h2>
                    <h2 class="w-title">1L/5L</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            
        <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/veterinary/22.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/22.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Mecopac Forte</h2>
                     <h2 class="w-title">10ml/30ml</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/veterinary/30.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/30.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Mecopac Pet Syrup</h2>
                    <h2 class="w-title">200ml</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/veterinary/54.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/54.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Mecopac Vet Syrup</h2>
                    <h2 class="w-title">200ml/500ml</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
               <div class="col-md-4">
            <div class="work-box">
             <a href="static/assets/img/products/veterinary/36.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/36.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">NEPHRO-PLUS</h2>
                    <h2 class="w-title">500ml/1L</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/veterinary/31.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/31.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Nutrimalt</h2>
                    <h2 class="w-title">400gm/1.5kg/6kg</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/veterinary/51.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/51.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Oxymac Bolus/powder</h2>
                    <h2 class="w-title">250gm</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/veterinary/18.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/18.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">PHOSPEN-PLUS</h2>
                    <h2 class="w-title">30ml/100ml</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/veterinary/5.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/5.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Super Clear</h2>
                    <h2 class="w-title">6ml/15ml/50ml</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
              <div class="col-md-4">
            <div class="work-box">
             <a href="static/assets/img/products/veterinary/55.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/55.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Tetracycline HCL WSP </h2>
                    <h2 class="w-title">Powder 100gm</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like"> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/veterinary/25.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/25.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">TRIMAC-RTU</h2>
                    <h2 class="w-title">30ml/100ml</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
             <a href="static/assets/img/products/veterinary/56.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/56.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">VET-SHE Powder </h2>
                    <h2 class="w-title">200gm</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/veterinary/23.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/23.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Vetaflox-TZ Bolus</h2>
                    <h2 class="w-title">Bolus</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/veterinary/16.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/16.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">VIT PLUS</h2>
                    <h2 class="w-title">10ml</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
         
          
          
          
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/veterinary/53.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/53.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Xonexef</h2>
                    <h2 class="w-title">250mg/500mg/2gm/3gm</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/veterinary/14.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/14.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Xonexef-S</h2>
                    <h2 class="w-title">750mg</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="static/assets/img/products/veterinary/48.jpeg" data-gallery="GalleryGallery" class="Gallery-lightbox">
                <div class="work-img">
                  <img src="static/assets/img/products/veterinary/48.jpeg" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Xonexef-S</h2>
                    <h2 class="w-title">1.5gm/3gm/4.5gm</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Veterinary </span> / <span class="w-date">14 Mar. 2001</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
  </div>
      </div>
    </section>
    <div class="testimonials paralax-mf bg-image" style="background-image: url(static/assets/img/overlay-bg.jpg)">
      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="testimonial-box">
                    <div class="author-test">
                      <span class="author">Acme</span>
                    </div>
                    <div class="content-test">
                      <p class="description lead">
                        	We Provide Quality medicines at affordable prices. Proud to complete <b>22</b> years in Healthcare with Quality Medicines.
<hr> With Best Wishes from
Directors
Gopal Krishna, Sanjay Kumar and Banshidhar Kanhaiya Lal. 
                      </p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="testimonial-box">
                    <div class="author-test">
                      <span class="author">ACME</span>
                    </div>
                    <div class="content-test">
                      <p class="description lead">
                        Quality is our Culture.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
{%endblock%}
  