
{% extends "base.html"%}

{%block content%}
  <!-- ======= Hero Section ======= -->
  <div id="hero" class="hero route bg-image" style="background-image: url(static/assets/img/hero-bg.jpg)">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="hero-title mb-4">Acme Therapeutics (I) Pvt. Ltd</h1>
          <p class="hero-subtitle"><span class="typed" data-typed-items="Health, Life, Care, Love"></span></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div><!-- End Hero Section -->
  <main id="main">
    <!-- ======= About Section ======= -->
    
   
    <!-- ======= Counter Section ======= -->
    
    <section id="work" class="Gallery-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Thank you!
              </h3>
              <h2>Your mail has been sent successfully.</h2>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        
      </div>
    </section><!-- End Gallery Section -->
    <!-- ======= Testimonials Section ======= -->
    <div class="testimonials paralax-mf bg-image" style="background-image: url(static/assets/img/overlay-bg.jpg)">
      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="testimonial-box">
                    <div class="author-test">
                      <span class="author"></span>
                    </div>
                    <div class="content-test">
                      <p class="description lead">
                       
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->
                <div class="swiper-slide">
                  <div class="testimonial-box">
                    <div class="author-test">
                      <span class="author"></span>
                    </div>
                    <div class="content-test">
                      <p class="description lead">
                       
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->
              </div>
              <div class="swiper-pagination"></div>
            </div>
            <!-- <div id="testimonial-mf" class="owl-carousel owl-theme">
        </div> -->
          </div>
        </div>
      </div>
    </div><!-- End Testimonials Section -->
    <!-- ======= Contact Section ======= -->
   
                    	<!--
						<form action="https://formsubmit.co/your@email.com" method="POST">
     <input type="text" name="name" required>
     <input type="email" name="email" required>
     <button type="submit">Send</button>
</form>
                    	 -->
          
</body>
</html>
{%endblock%}